/* 이미지슬라이드 */
.imgSlide {
  background-color: #6b6b6b;
  height: 400px;
}

/* 메인 */
.main {
  height: 1920px;
  background-color: aquamarine;
}

/* 푸터 */
.footer {
  height: 800px;
  background-color: beige;
}
