.popup-inquiry {
  background: $white;
  width: 790px;
  height: 690px;
  border-radius: 16px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  box-shadow: 0px 8px 36px rgba(0, 0, 0, 0.2);
  overflow: hidden;

  &-background {
    position: fixed;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100vh;
    z-index: 100;
    top: 0;
    left: 0;
  }

  &-window {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__container {
    &__header {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $gray-100;

      &__title {
        font-size: 28px;
        font-weight: 700;
        padding-bottom: 20px;
        width: 100%;
      }

      span {
        display: flex;
        align-self: flex-start;
        width: 32px;
        height: 32px;
        background-position: center center;
        background-size: cover;
      }
    }

    &__title {
      padding: 16px 0;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      font-size: 16px;
      font-weight: 600;
      border-bottom: 1px solid $gray-100;

      img {
        width: 72px;
        height: 72px;
        object-fit: cover;
        border-radius: 4px;
        margin-right: 24px;
      }
    }

    &__main {
      padding: 16px 0;
      margin-left: 10px;
      font-size: 16px;
      font-weight: 600;
      color: $content;
      border-bottom: 1px solid $gray-100;

      &__title {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        &--title {
          width: 13%;
        }

        &--input {
          width: 100%;

          input {
            border-radius: 4px;
            border: 1px solid $gray-300;
            padding: 0 15px 0 15px;
            width: 100%;
            height: 44px;
            outline: none;
            font-size: 14px;
          }
        }
      }

      &__content {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        padding-top: 16px;

        &--title {
          width: 13%;
          align-self: flex-start;
          padding-top: 10px;
        }

        &--input {
          display: flex;
          flex-flow: column nowrap;
          width: 100%;
          height: 260px;
          border: 1px solid $gray-300;
          border-radius: 4px;
          position: relative;

          textarea {
            border: 0;
            outline: none;
            word-break: break-all;
            font-size: 14px;
            background: none;
            line-height: 21px;
            resize: none;
            padding: 15px 15px 20px 15px;
            z-index: 1;
          }

          &__placeholder {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 86%;
            padding: 15px 15px 32px;
            cursor: pointer;
            z-index: 2;
            color: $gray-400;
            line-height: 20px;
            font-size: 14px;
            overflow-y: auto;

            strong {
              display: block;
              font-weight: 500;
              padding-bottom: 8px;
            }

            ul + strong {
              padding-top: 20px;
            }

            p + strong {
              padding-top: 20px;
            }

            ul {
              font-weight: 400;

              li:before {
                content: '·';
                padding-right: 5px;
              }

              li {
                padding-bottom: 4px;
              }
            }

            p {
              color: $info-error;
            }
          }

          span {
            text-align: right;
            padding: 0px 16px 16px;
            font-size: 12px;
            color: $gray-300;
            font-weight: 400;
          }
        }
      }

      &__secret {
        margin-left: 85px;
        padding-top: 16px;
        display: flex;
        position: relative;
        align-content: center;

        input[class='check'] {
          display: none;
        }

        input[class='check'] + label em {
          width: 24px;
          height: 24px;
          margin-right: 10px;
          background: url('/client/css/img/input/Check1.svg')
            no-repeat;
        }

        input[class='check']:checked + label em {
          width: 24px;
          height: 24px;
          margin-right: 10px;
          background: url('/client/css/img/input/Check2.svg')
            no-repeat;
        }

        &--check {
          display: flex;
          align-content: center;

          span {
            font-size: 14px;
            font-weight: 400;
            display: flex;
            align-items: center;
          }
        }
      }
    }

    &__footer {
      display: flex;
      justify-content: center;
      padding-top: 20px;

      &__button {
        display: flex;
        font-size: 16px;
        gap: 12px;
        margin-bottom: 20px;

        button:first-child {
          border: 1px solid $gray-200;
          width: 170px;
          height: 56px;
          border-radius: 4px;
        }

        button:last-child {
          background: $gray-100;
          color: white;
          width: 170px;
          height: 56px;
          border-radius: 4px;
          cursor: default;
        }
      }
    }
  }
}
