/* 자동 레이아웃 */
body {
  // width: 1920px;
}

.center {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 1050px;
  margin: 0 auto;
}

/* 상품리스트 */
.productlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 0px 80px;
  gap: 48px;
}

.productlist__top {
  display: block;
  width: 56px;
  height: 32px;
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 50%;
}

.productlist__main {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  width: 1050px;
  height: 3000px;
}

.filter {
  display: flex;
  justify-content: space-between;
  top: 0;
  padding-bottom: 0px;
  line-height: 10px;
}

.filter {
}

.filter span {
  font-size: 14px;
}

.filter p {
  color: $gray-300;
  font-size: 12px;
}

.category {
  width: 180px;
  margin: 20px auto;
}
.category a {
  display: block;
  width: 100%;
  height: 40px;
  font-size: 0px;
  color: $content;
  text-align: left;
}

li.lv1 {
  border-bottom: 1px solid $gray-200;
}
li.lv1:nth-child(1) {
  border-top: 1px solid $content;
}
li.lv1 > a {
  font-size: 14px;
  font-weight: 500;
  line-height: 40px;
}
ul.lv2 {
  display: none;
}
li.lv2:hover a {
  color: $primary;
}

.product__main__list {
  margin-left: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  width: 783px;
  height: 3000px;
}

.product__main__list__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px 20px;
  gap: 153px;
}

.menu2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
}

.menu2 li::after {
  padding-left: 10px;
  color: $gray-100;
  font-size: 16px;
  content: 'ㅣ';
}

.navigation__list__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 249px);
  gap: 31px 18px;
  width: 100%;
}

.navigation__list__bestitem {
  display: flex;
  flex-direction: column;
  height: 538px;
  color: $content;
  cursor: pointer;
}

.navigation__list__bestitem1 {
  overflow: hidden;
  position: relative;
  background-color: rgb(245, 245, 245);
  width: 249px;
  height: 320px;
}

.navigation__list__bestitem1 img {
  position: absolute;
  inset: -100%;
  width: 100%;
  height: 100%;
  margin: auto;
  object-fit: cover;
  transition: all 0.5s ease-in-out 0s;
}

.navigation__list__button {
  position:absolute;
  right: 16px;
  bottom: 16px
}

.carticon img {
  cursor: pointer
  border: 0;
  vertical-align: top;
}


.navigation__list__bestitem1__text {
  padding: 14px 10px 0px 0px;
}

.badge1 {
  color: $gray-400;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}

.badge2 {
  color: $content;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}

.badge3 {
  color: $content;
  font-size: 21px;
  line-height: 150%;
  font-weight: 600;
}

.badge4 {
  color: $gray-400;
  font-size: 12px;
  line-height: 160%;
  font-weight: 400;
}

.badge5-1 {
  color: $primary;
  font-size: 12px;
  line-height: 150%;
  font-weight: 600;
  background-color: $gray-100;
  padding: 5px;
  border-radius: 5px;
  margin-right: 5px;
}

.badge5-2 {
  color: $content;
  font-size: 12px;
  line-height: 150%;
  font-weight: 600;
  background-color: $gray-100;
  padding: 5px;
  border-radius: 5px;
}
