/* 자동 레이아웃 */
body {
  // width: 1920px;
}

// 메인 리스트 전체

.container {
  width: 1050px;
  margin: 0 auto;
}

// 베스트 탑 문구
.best {
  margin-top: 50px;
  font-weight: 500;
  font-size: 28px;
  color: $content;
  line-height: 35px;
  letter-spacing: -1px;
  text-align: center;
}

// 네비게이션과 상품 리스트
.product {
  position: relative;
  display: flex;
  width: 1050px;
  margin-top: 50px;
  margin-bottom: 75px;
}

// 네비게이션 시작
.navigator {
  position: sticky;
  width: 220px;
  flex-shrink: 0;
  height: 100%;
  max-height: calc(100vh - 120px);
  top: 80px;
  margin-right: 47px;
  border-bottom: 1px solid rgb(238, 238, 238);
  overflow: hidden scroll;
}

// 필터
.accordion--filter__head__text {
  position: sticky;
  top: 0px;
  display: flex;
  background-color: rgb(255, 255, 255);
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(238, 238, 238);
  line-height: 20px;
  padding-left: 5px;
}

.accordion--filter__head__text button {
  display: flex;
  align-items: center;
  pointer-events: none;
}

.filter__text {
  font-weight: 500;
  font-size: 15px;
  color: $black;
}

.reset__text {
  font-size: 13px;
  margin-left: 5px;
  font-weight: 400;
  color: $gray-300;
}

// 전체 메뉴
.accordion--set {
  font-size: 14px;
  columns: $content;
  height: 1500px;
}

// 카테고리 메인 시작
.accordion--set__head {
  border-bottom: 1px solid $gray-100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 52px;
}

.frame70 {
  display: block;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.frame70 span {
  width: 200px;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  columns: $content;
  justify-content: space-between;
}

// 카테고리 서브 시작
.accordion--set__body {
  max-height: 100vh;
  // display: none;
}

.accordion__ltem {
  margin-top: 9px;
  display: flex;
  align-items: center;
  margin-top: 18px;
}

.accordion__ltem a {
  display: flex;
  align-items: center;
}

.accordion__ltem button {
  display: flex;
  align-items: center;
}

.accordion__ltem button img {
  width: 20px;
  height: 20px;
  fill: none;
}

.accordion__ltem__text {
  margin-right: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: $content;
  overflow: hidden;
  word-break: break-all;
  white-space: normal;
}

.accordion__ltem__number {
  flex-shrink: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $gray-300;
}

.accordion__ltem__viewmore {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(153, 153, 153);
  font-weight: 500;
  font-size: 12px;
  margin-bottom: 11px;
  margin-top: 20px;
}

.category-height {
  margin-top: 5px;
}

// 상품 리스트 전체
.group {
  width: 100%;
}

// 상품 리스트 탑메뉴
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  line-height: 20px;
}

.total {
  font-size: 14px;
  font-weight: 500;
  color: $content;
}

.list {
  position: relative;
  display: flex;
  align-items: center;
}

.list li {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 8px;
  font-size: 14px;
}

.hot {
  letter-spacing: -0.3px;
  font-weight: 500;
  color: $black;
}

.sort {
  letter-spacing: -0.3px;
  font-weight: 500;
  color: $gray-300;
}

.list svg {
  margin-left: 5px;
}

.list li::before {
  content: '';
  display: flex;
  width: 1px;
  height: 10px;
  margin-right: 8px;
  background-color: rgb(226, 226, 226);
}

.list li a {
  letter-spacing: -0.3px;
  font-weight: 500;
}

// 상품 리스트 시작
.product__list--grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 249px);
  gap: 31px 18px;
  width: 100%;
}

.product__item {
  display: flex;
  flex-direction: column;
  height: 538px;
  color: rgb(51, 51, 51);
  cursor: pointer;
}

.product__list__img2 {
  overflow: hidden;
  position: relative;
  background-color: rgb(245, 245, 245);
  width: 249px;
  height: 320px;
}

.product__list__img2::before {
  content: '';
  position: absolute;
  inset: 0px;
}

.product__list__img2 img {
  position: absolute;
  inset: -100%;
  width: 100%;
  height: 100%;
  margin: auto;
  object-fit: cover;
  transition: all 0.5s ease-in-out 0s;
  max-width: 100%;
}

.cart-icon {
  position: absolute;
  right: 16px;
  bottom: 16px;
  width: 45px;
  height: 45px;
}

.cart-icon img {
  cursor: pointer;
  max-width: 100%;
}

.product__list__txt {
  padding: 14px 10px 0px 0px;
}

.badge1 {
  display: block;
  padding-bottom: 5px;
  font-size: 12px;
  color: $gray-300;
  line-height: 19px;
  letter-spacing: -0.5px;
}

.badge2 {
  max-height: 58px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: normal;
  display: -webkit-box;
  overflow: hidden;
  word-break: break-all;
  white-space: normal;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.badge3 {
  margin-top: 10px;
}

.price {
  font-weight: 600;
  font-size: 22px;
  line-height: 24px;
  white-space: nowrap;
  letter-spacing: -0.5px;
}

.discount {
  font-weight: 600;
  font-size: 22px;
  line-height: 24px;
  white-space: nowrap;
  letter-spacing: -0.5px;
  color: $accent-yellow;
}

.out_price {
  padding-top: 15px;
  font-size: 14px;
  color: rgb(181, 181, 181);
  line-height: 20px;
  text-decoration: line-through;
}

.badge4 {
  padding-top: 15px;
  font-size: 12px;
  color: rgb(153, 153, 153);
  line-height: 18px;
  letter-spacing: normal;
  display: -webkit-box;
  overflow: hidden;
  word-break: break-all;
  white-space: normal;
}

.badge5 {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
  padding: 12px 20px 0px 0px;
  cursor: default;
}

.badge5 span {
  padding: 2px 8px 4px;
  border-radius: 4px;
  background-color: $gray-100;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
}

.karly_only {
  color: $primary;
}

.limited_quantity {
  color: $black;
}

// 하단 페이지
.bottom--page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 36px;
}
