.width {
  width: 1050px;
  margin: 0 auto;
  position: relative;
}

.gray {
  color: $gray-400;
}

.primary {
  color: $primary;
}

.padding-t4 {
  padding-top: 4px;
}

.row {
  display: flex;
  flex-flow: row nowrap;
}

.hr {
  border-top: 1px solid black;
}

.button-left {
  background: url('/client/css/img/Icon/Arrow-2.svg')
    no-repeat;
  background-size: 60px;
  background-position: -3px -94px;
}

.button-right {
  background: url('/client/css/img/Icon/Arrow-2.svg')
    no-repeat;
  background-size: 60px;
  background-position: -3px -140px;
}

/* 상품 상세 페이지 */
.product-detail {
  padding-top: 40px;
  position: relative;
  /* 상품 인포 */
  &__information {
    display: flex;
    justify-content: space-between;

    &__img {
      width: 400px;
      height: 514px;
      object-fit: cover;
    }

    &__detail--deliver {
      padding-bottom: $spacing-lg;
      font-weight: 700;
      color: $gray-500;
      font-size: 21px;
    }

    &__detail {
      width: 560px;

      &__title {
        display: flex;
        justify-content: space-between;
        font-size: 28px;
        font-weight: 600;
      }

      &__subtitle {
        padding-top: 8px;
        font-size: 16px;
        font-weight: 400;
        color: $gray-400;
      }

      &__price {
        padding-top: $spacing-lg;
        font-weight: 600;
        font-size: 28px;
        color: $content;
        display: flex;
        align-items: center;

        span:last-child {
          font-size: 16px;
          font-weight: 700;
          padding-left: 4px;
        }
      }

      &__login1 {
        padding-top: $spacing-lg;
        padding-bottom: $spacing-xl;
        color: $primary;
        font-size: 16px;
        font-weight: 600;
      }

      &__inform {
        display: flex;
        flex-flow: column nowrap;
      }

      &__dl--border {
        font-size: 14px;
        display: flex;
        flex-flow: row nowrap;
        padding-top: $spacing-xl;
        padding-bottom: $spacing-xl;
        position: relative;
        border-bottom: 1px solid $gray-100;
        border-top: 1px solid $gray-100;

        dt {
          width: 128px;
          color: $gray-500;
        }

        p {
          line-height: 1.5;
        }
      }

      &__dl {
        font-size: 14px;
        display: flex;
        flex-flow: row nowrap;
        padding-top: $spacing-xl;
        padding-bottom: $spacing-xl;
        position: relative;
        border-top: 1px solid $gray-100;

        dt {
          width: 128px;
          color: $gray-500;
        }

        p {
          line-height: 1.5;
        }

        &__select {
          border: 1px solid $gray-100;
          padding: $spacing-md;
          width: 432px;

          &__choice {
            @include flexboxCenter($justify: space-between);
            padding-top: 12px;

            &__number {
              border: 1px solid $gray-100;
              position: relative;
              border-radius: 3px;
              width: 88px;
              display: flex;
              flex-flow: row nowrap;
              justify-content: space-between;

              &--minus {
                background: url('/client/css/img/Icon/Minus.svg')
                  no-repeat;
                background-position: -9px -8px;
                width: 28px;
                height: 28px;
              }
              &--num {
                display: flex;
                width: 28px;
                height: 28px;
                font-weight: 600;
                font-size: 16px;
                justify-content: center;
                align-items: center;
              }
              &--plus {
                background: url('/client/css/img/Icon/Plus.svg')
                  no-repeat;
                background-position: -9px -8px;
                width: 28px;
                height: 28px;
              }
            }

            &--price {
              font-size: 12px;
              font-weight: 600;
            }
          }
        }
      }

      // 총 상품금액
      &__result {
        padding: $spacing-xl 0;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-end;
        gap: 8px;

        &__totalprice {
          font-size: 28px;
          font-weight: 600;
          color: $content;
          display: flex;
          align-items: center;

          span:first-child {
            font-size: 16px;
            color: black;
            padding-right: 17px;
          }

          span:last-child {
            font-size: 16px;
            font-weight: 700;
            padding-left: 4px;
          }
        }

        &__login2 {
          font-size: 16px;
          font-weight: 600;
          display: flex;
          flex-flow: row nowrap;
          gap: 6px;

          span:first-child {
            background-color: $accent-yellow;
            color: white;
            font-weight: 400;
            font-size: 10px;
            padding: 4px 8px;
            border-radius: 12px;
          }
        }

        // 장바구니 담기 버튼
        &__add {
          gap: 8px;
          padding-bottom: 3rem;
          @include flexboxCenter;

          &__like {
            width: 56px;
            height: 56px;
            border: 1px solid $gray-100;
            border-radius: 4px;
          }

          &__noti {
            width: 56px;
            height: 56px;
            border: 1px solid $gray-100;
            border-radius: 4px;

            img {
              opacity: 0.3;
            }
          }

          &__addcart {
            width: 56px;
            height: 56px;
            flex-grow: 2;
            border: 0px;
            background-color: $primary;
            color: white;
            font-size: 16px;
            border-radius: 4px;
          }
        }
      }
    }
  }

  /* 상세 페이지 카테고리 */
  &__category {
    padding-top: 50px;
    display: flex;
    font-size: 14px;

    button {
      cursor: default;
      border: 1px solid $gray-300;
      background-color: $gray-50;
      color: $content;
      height: 60px;
      display: block;
      flex: 1 1 auto;
      font-size: 16px;
      font-weight: 600;

      a {
        cursor: default;
      }
    }

    button:nth-child(1) {
      border: 0;
      border-left: 1px solid $gray-100;
      border-top: 1px solid $gray-100;
      background: white;
    }
    button:nth-child(2) {
      border-right: 0;
    }
    button:nth-child(3) {
      border-right: 0;
    }
  }

  /* 상품 상세 설명 */
  &__description {
    padding-top: 40px;

    &__goods {
      &__intro {
        img {
          width: 100%;
          height: 670px;
          object-fit: cover;
        }

        &__context {
          h3 {
            @include flexboxCenter($direction: column);
            font-weight: 600;
            font-size: 28px;
            padding: 65px 0 40px 0;
            position: relative;

            p {
              font-weight: 700;
              font-size: 50px;
              padding-top: 10px;
              color: $content;
            }

            &:after {
              content: '';
              background: $gray-100;
              width: 100%;
              height: 1px;
              margin-top: 20px;
              transform: translateY(15px);
            }
          }

          &--text {
            color: $content;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.7;
            padding-bottom: 150px;
          }
        }
      }

      &__point {
        h3 {
          position: relative;
          padding-bottom: 96px;
          z-index: 10;
          font-size: 50px;
          font-weight: 600;
          color: $content;

          span {
            position: relative;
            display: inline-block;
            z-index: 10;
            background-color: white;
            margin-left: 310px;
          }

          &:before {
            content: '';
            background: $gray-100;
            width: 1050px;
            height: 1px;
            position: absolute;
            z-index: 1;
            transform: translateY(35px);
          }

          img {
            width: 1050px;
            object-fit: none;
            padding-top: 65px;
            margin: 0 auto;
          }
        }
      }
    }

    &__content {
      text-align: center;
      z-index: 1;

      #infoImg {
        padding-bottom: 80px;
      }

      &__whykarly {
        padding-bottom: 84px;
        padding-top: 30px;
        position: relative;

        &:before {
          content: '';
          background: $gray-100;
          width: 1050px;
          height: 1px;
          position: absolute;
          top: 0;
          left: 0;
          transform: translateY(-30px);
        }

        span {
          font-weight: 700;
          font-size: 28px;
          color: $content;
          display: inline-block;
        }

        &__text {
          @include flexboxCenter($wrap: wrap);
          padding: 0 52.5px 40px 52.5px;

          &__dl {
            width: 315px;
            position: relative;
            padding-top: 60px;

            img {
              position: absolute;
              left: 0;
              margin-left: 141px;
            }

            dt {
              font-weight: 600;
              font-size: 21px;
              color: $primary;
              padding-top: 60px;
              padding-bottom: 24px;
              position: relative;
            }

            dd {
              font-weight: 400;
              font-size: 16px;
              line-height: 1.9;
              padding: 0 32.5px;
              color: $content;
            }
          }
        }
      }
    }

    &__review {
      &__productReview {
        position: relative;

        h2 {
          font-weight: 700;
          font-size: 28px;
        }

        button {
          width: 155px;
          height: 44px;
          background: $primary;
          color: $white;
          border-radius: 4px;
          font-size: 16px;
          font-weight: 600;
          position: absolute;
          top: 0;
          right: 0;
        }

        ul {
          font-size: 12px;
          font-weight: 600;
          color: $gray-500;
          line-height: 1.8;
          padding: 30px 0 56px 0;

          li:before {
            content: 'ㆍ';
          }

          li:first-child:before {
            content: '';
          }
        }

        &--bold {
          font-size: 16px;
          color: $content;
          list-style: none;
          display: block;
          padding-left: -20px;
        }
      }

      &__list {
        &--total {
          @include flexboxCenter($justify: space-between);
          font-size: 12px;
          font-weight: 600px;
          color: $content;
          padding-bottom: 20px;

          button {
            font-size: 16px;
          }

          div {
            :nth-child(1):after {
              content: '　|';
              color: $gray-300;
            }
          }
        }

        &__noti {
          padding: 20px;
          border-bottom: 1px solid $gray-100;
          font-size: 16px;
          font-weight: 600;
          color: $content;

          &--notice {
            background: $gray-100;
            border-radius: 1px;
            margin-right: 9px;
            font-size: 12px;
            padding: 2px 6px;
          }
        }

        &__content {
          &__review {
            padding-bottom: 16px;

            &--div {
              display: flex;
              flex-flow: row nowrap;
              border-bottom: 1px solid $gray-100;
              padding: 20px;

              div {
                font-size: 14px;
                font-weight: 600;
                width: 225px;

                span:nth-child(1) {
                  background: $secondary;
                  color: white;
                  border-radius: 1px;
                  padding: 2px 8px;
                  margin-right: 6px;
                }

                span:nth-child(2) {
                  border: 1px solid $primary;
                  color: $primary;
                  border-radius: 1px;
                  padding: 2px 8px;
                  margin-right: 6px;
                }
              }

              article {
                font-size: 14px;
                font-weight: 600;
                color: $gray-400;

                p {
                  padding: 25px 0;
                  font-weight: 400;
                  color: black;
                }
              }

              .empty {
                width: 100%;

                article {
                  display: flex;
                  flex-flow: column nowrap;
                  justify-content: center;
                  width: 100%;
                  position: relative;
                  align-items: center;

                  img {
                    width: 41px;
                    height: 41px;
                    opacity: 0.2;
                  }

                  span {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: center;
                    font-weight: 400;
                    color: $gray-300;
                    font-size: 16px;
                    padding-top: 15px;
                  }
                }
              }
            }

            &__button {
              display: flex;
              flex-flow: row nowrap;
              justify-content: center;
              gap: 16px;
              padding: 16px 0 72px 0;

              button {
                width: 56px;
                height: 56px;
                border: 1px solid $gray-100;
                border-radius: 4px;
              }
            }
          }
        }
      }
    }

    &__inquiry {
      &__title {
        position: relative;

        h2 {
          font-weight: 700;
          font-size: 28px;
        }

        button {
          width: 155px;
          height: 44px;
          background: $primary;
          color: $white;
          border-radius: 4px;
          font-size: 16px;
          font-weight: 600;
          position: absolute;
          top: 0;
          right: 0;
        }

        ul {
          font-size: 12px;
          font-weight: 600;
          color: $gray-500;
          line-height: 1.8;
          padding: 30px 0 50px 0;

          li:before {
            content: 'ㆍ';
          }
        }
      }

      &__content {
        table {
          width: 100%;
        }

        &__title {
          font-size: 16px;
          font-weight: 600;
          border-top: 2px solid black;
          border-bottom: 1px solid black;

          tr {
            th {
              padding: 20px;
            }
            :nth-child(1) {
              width: 710px;
            }
            :nth-child(2),
            :nth-child(3),
            :nth-child(4) {
              width: 100px;
            }
          }
        }

        &__text {
          &__noti {
            background: $gray-100;
            border-radius: 1px;
            margin-right: 9px;
            font-size: 12px;
            padding: 2px 6px;
          }

          &--text {
            padding: 20px;
            border-bottom: 1px solid $gray-100;
            font-size: 16px;
            font-weight: 600;
            color: $content;

            td {
              padding: 20px;
            }

            .title {
              width: 720px;
            }
            .author {
              width: 110px;
              text-align: center;
            }
            .created-date {
              width: 110px;
              text-align: center;
            }
            .status {
              width: 110px;
              text-align: center;
            }
          }

          &--detailText {
            padding: 20px;
            border-bottom: 1px solid $gray-100;
            font-size: 14px;
            font-weight: 600;
            color: $content;
            line-height: 1.8;
            position: relative;
            background-color: $gray-50;

            td {
              padding: 20px;
            }

            .title {
              width: 720px;
            }
            .author {
              width: 110px;
              text-align: center;
            }
            .created-date {
              width: 110px;
              text-align: center;
            }
            .status {
              width: 110px;
              text-align: center;
            }

            .question-icon {
              position: absolute;
              top: 20px;
            }
            .question {
              padding-left: 35px;
            }
            .answer-icon {
              position: absolute;
              top: 85px;
            }
            .answer {
              padding-top: 40px;
              padding-left: 35px;
            }
          }
        }
      }
      &__button {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        gap: 16px;
        padding: 16px 0 96px 0;

        button {
          width: 56px;
          height: 56px;
          border: 1px solid $gray-100;
          border-radius: 4px;
        }
      }
    }
  }
}

#review-hidden,
#inquiry-hidden {
  display: none;
}

.scrollLock {
  overflow: hidden;
  height: 100%;
}
