@use 'sass:math';
$rootUnit: 14px !default;
$break: 14px;

@function removeUnit($value) {
  @return math.div($value, $value * 0 + 1);
}

@function rem($value, $base: $rootUnit) {
  @return (removeUnit(math.div($value, $base))) * 1rem;
}

@mixin flexboxCenter(
  $direction: row,
  $justify: center,
  $items: center,
  $wrap: nowrap
) {
  display: flex;
  flex-flow: $direction $wrap;
  justify-content: $justify;
  align-items: $items;
}

@mixin recentlyProduct {
  @media (min-width: 1250px) {
    @content;
  }
}
