@import './fontello';
@import './fonts';
@import './normalize';
@import './reset';
@import './theme';
@import './utiles';
@import './pages/addCart';
@import './pages/footer';
@import './pages/header';
@import './pages/login';
@import './pages/main';
@import './pages/popup';
@import './pages/productDetail';
@import './pages/productList';

/* 숨김 콘텐츠 */
.a11y-hidden,
legend {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

/* 기본 스타일 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

/* 링크 스타일 */
a {
  color: inherit;
  text-decoration: none;
}

/* 본문 스타일 */
body {
  /* em, rem 단위를 사용해보기 */
  color: #212121;
  font-size: 1.4rem;
  font-family: 'Pretendard Variable', Pretendard,
    -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo',
    'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}
/* 레이아웃 */
.header,
.nav,
.section,
.main,
.footer {
  width: 1920px;
  margin: 0 auto;
  background-color: lightgreen;
}

/* 헤더 */

/* 로고 */

/* 네비 */
