@import './fonts';
@import './fontello';
@import './normalize';
@import './reset';
@import './theme';
@import './utiles';
@import './pages/addCart';
@import './pages/footer';
@import './pages/header';
@import './pages/login';
@import './pages/main';
@import './pages/popup';
@import './pages/popupInquiry';
@import './pages/productDetail';
@import './pages/productList';

/* 기본 스타일 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

li {
  list-style: none;
}

html {
  font-size: 10px;
}

input:focus {
  outline: none;
}

button {
  border: 0;
  background-color: inherit;
  cursor: pointer;
}

/* 링크 스타일 */
a {
  color: inherit;
  text-decoration: none;
}

/* 공통 */
body {
  font: inherit;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont,
    system-ui, Roboto, 'Helvetica Neue', 'Segoe UI',
    'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic',
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    sans-serif;
}

.a11y-hidden,
legend {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}
